body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;

    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0px 0px 15px rgba(231, 76, 60, 0.7);
    }

    to {
        box-shadow: 0px 0px 25px rgba(231, 76, 60, 1);
    }
}

.box:hover {
    background-color: #e74c3c;
    animation: glow 1s infinite alternate;
}